/* body {
    background-image: url("https://autoshoplab-uploads.s3.amazonaws.com/uploads/agency_image/photo/20/generic-car-banner-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
} */